@import './a.css';
body{
   
    background:pink;
    /* transform: rotate(45deg); */
    /* -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); */
    
}

body div{
    width:1300px;
    height:1200px;
    background-image: url('./2.jpeg');
    background-repeat: no-repeat;
}